/* src/index.css */
html, body, #root {
  margin: 0;
  padding: 6px;
  overflow-x: hidden;
  width: 100
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari and Opera */
}
